<head>
    <style>
        table {
            border: 1px solid black;
            text-align: center;
            /* border-collapse: collapse; */
            border-spacing: 0;
            width: 100%;
            /* border: 2px solid #ddd; */
            border: 2px solid black;
        }

        th {
            text-align: left;
            padding: 12px;
            background-color: grey;
            color: #333;
        }

        td {
            text-align: left;
            padding: 12px;
            max-width: 150px;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body id="tasks">
    <h1>Welcome, <%= @current_user.name %>!</h1>
    <p>Here are your tasks for today!</p>
    <p><small><sup>*</sup> Mandatory Field</small></p>

    <div class="task_table">
        <table>
            <tr>
                <th>Status</th>
                <th>Task<sup>*</sup></th>
                <th>Description</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>

           <% @tasks.each do |task| %>
            <tr>
                <% if task.status == "Complete" %>
                    <td><input type="checkbox" name="task[id]" id="task_status"  <%= 'checked' if task.status == "Complete" %> onclick="return false"></td>
                    <% else %>
                    <%# COMPLETE TASK %>
                    <form method="POST" action="/tasks/<%= task.id %>"> 
                        <input id="hidden" type="hidden" name="_method" value="patch">
                        <td><input type="checkbox" name="task[id]" id="task_status" onclick="this.form.submit()"></td>
                    </form>
                <% end %>

                <td><label for="task[id]"><%= task.name %></label></td>
                <td><label for="task[id]"><%= task.description %></label></td>
                <td><label for="task[id]"><%= task.priority %></label></td>
                <td><label for="task[id]"><%= task.deadline %></label></td>

                <%# DELETE TASK %>
                <form method="POST" action="/tasks/<%=task.id%>"> 
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <td><input type="submit"  value="Delete"></td>
                </form>
            </tr>
           <%end%>
            <tr> <%# NEW TASK %>
                <form method="POST" action="/tasks/new">
                    <td></td>
                    <td><input type="text" name="task[name]"        id="task_name"></td>
                    <td><input type="text" name="task[description]" id="task_description"></td>
                    <td><input type="text" name="task[priority]"    id="task_priority"></td>
                    <td><input type="text" name="task[deadline]"    id="task_deadline"></td>
                    <td><button type="submit">Add Task</button></td>
                </form>
            </tr>     
        </table>
    </div>

    <h4>
    <p>Total Tasks: <%=@current_user.tasks.count%></p>
    <p>Tasks Completed: <%=@items_completed%></p>
    </h4>
</body>