<body id="tasks">
    <div class="message"><%= flash[:message] %></div>
    
    <%# displays greeting %>
    <% if @user == current_user %>
        <h1>Welcome, <%= current_user.name %>!</h1>
        <p>Here are your tasks.</p>
        <small><sup>*</sup> Required Field</small>
    <% else %>
        <h1>Tasks for: <%= @user.name %></h1>
    <% end %>

    <%# displays tasks table %>
    <%if @user!=current_user && @user.tasks.count == 0 %>
        <p>This user does not have any tasks.</p>
    <% elsif @user == current_user || @user.tasks.count > 0 %>
        <table>
            <tr>
                <th>Status</th>
                <th>Task Name<% if @user == current_user %><sup>*</sup></th><% end %>
                <th>Description</th>
                <th>Priority</th>
                <th>Deadline</th>
                <% if @user == current_user %>
                    <th>Action</th>
                <% end %>
            </tr>

           <% @tasks.each do |task| %>
                <tr>
                    <% if task.status == "Complete" %>
                        <td><input type="checkbox" name="task[status]" id="task_status" <%= 'checked' if task.status == "Complete" %> onclick="return false"></td>
                    <% elsif @user != current_user %>
                        <td><label for="task[status]"><%= task.status %></label></td>
                    <% elsif check_user_for(task) %>
                            <%# COMPLETE TASK %>
                            <form method="POST" action="/tasks/<%= task.id %>"> 
                                <input id="hidden" type="hidden" name="_method" value="patch">
                                <td><input type="checkbox" id="task_status" onclick="this.form.submit()"></td>
                            </form>
                    <% end %>
                    <td><label for="task[name]"><%= task.name %></label></td>
                    <td><label for="task[description]"><%= task.description %></label></td>
                    <td><label for="task[priority]"><%= task.priority %></label></td>
                    <td><label for="task[deadline]"><%= task.deadline %></label></td>
                    <% if check_user_for(task) %>
                        <%# DELETE TASK %>
                        <form method="POST" action="/tasks/<%=task.id%>"> 
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <td><input type="submit"  value="Delete"></td>
                        </form>
                    <%end%>
                </tr>
           <%end%>
    
            <%# NEW TASK --- for current users only%>
            <% if @user == current_user %>
                <tr> 
                    <form method="POST" action="/tasks/new">
                        <td></td>
                        <td><input type="text" name="task[name]"        id="task_name"></td>
                        <td><input type="text" name="task[description]" id="task_description"></td>
                        <td><input type="text" name="task[priority]"    id="task_priority"></td>
                        <td><input type="text" name="task[deadline]"    id="task_deadline"></td>
                        <td><button type="submit">Add Task</button></td>
                    </form>
                </tr>   
            <%end%> 

        </table>
    <% end %>

    <%if @user.tasks.count != 0 %>
        <h4>
            <p>Total Tasks: <%=@user.tasks.count%></p>
            <p>Tasks Completed: <%=@items_completed%></p>
        </h4>
    <% end %>

    <% if @user != current_user %>
        <br>
        <p><a href="/community">Back to Community List</a></p>
        <% else %>
        <br>
        <p><a href="/community">Community List</a></p>
    <% end %>

</body>