<head>
    <title>title</title>

    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

    <script>
        function myFunction() {
            document.getElementById("task_status").disabled = true;
        }
    </script>

        document.getElementById("task_status").disabled = true;

    </style>
</head>

<body id="page-top">

    <br>
        Here are your tasks for today!
    <br>
    <br> need to make these check boxes where you can complete them and make the strike through.
    <br> then need to make an option to clear day, as if user is user they want to clear
    <br>      
    <br>


     <%# @current_user.tasks.each do |task| %>
    <%# <form method="PATCH" action="/tasks"> //     <input id="hidden" type="hidden" name="_method" value="patch">  %>


    <table>
        <tr>
            <th>Status</th>
            <th>*Task</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Deadline</th>
        </tr>
/* onclick="return false;" */

        <%@tasks.each do |task|%>
        <tr>
            <%if task.status == "Complete"%>
                <td><input type="checkbox" name="task[id]" id="task_status" onclick="return false"  <%='checked' if task.status == "Complete"%> ></td>
                <% else %>
                 <%# COMPLETE TASK %>
                <form method="POST" action="/tasks/<%=task.id%>"> 
                    <input id="hidden" type="hidden" name="_method" value="patch">
                    <td><input type="checkbox" name="task[id]" id="task_status" onclick="this.form.submit()" ></td>
                </form>

            <%end%>
            <td><label for="task[id]"><%=task.name%></label></td>
            <td><label for="task[id]"><%=task.description%></label></td>
            <td><label for="task[id]"><%=task.priority%></label></td>
            <td><label for="task[id]"><%=task.deadline%></label></td>
            <td><label for="task[id]"><%=task.status%></label></td>


            <%# DELETE TASK %>
            <form method="POST" action="/tasks/<%=task.id%>"> 
                <input id="hidden" type="hidden" name="_method" value="delete">
                <td><input type="submit"  value="Delete"></td>
            </form>
 
        </tr>

        <%end %>


        <%# NEW TASK %>
        <tr>
            <form method="POST" action="/tasks/new">
                <td></td>
                <td><input type="text" name="task[name]"        id="task_name"></td>
                <td><input type="text" name="task[description]" id="task_description"></td>
                <td><input type="text" name="task[priority]"    id="task_priority"></td>
                <td><input type="text" name="task[deadline]"    id="task_deadline"></td>
                <td><input type="submit" value="Add Task"></td>
            </form>
        </tr>

    </table>


<br>
Items completed today: <%=@items_completed%>


</body>